smart irrigation.json
[{"id":"73d0d70c.8b2388","type":"tab","label":"Main Flow","disabled":false,"info":""},{"id":"a3bd91f3.89965","type":"ibmiot in","z":"73d0d70c.8b2388","authentication":"apiKey","apiKey":"1252aef2.f31d21","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"001","applicationId":"","deviceType":"nodemcu001","eventType":"","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":220,"wires":[["41bebb62.8fba14","1e250cb6.3b7743","ef737317.622d7","5e6a457a.b0309c","b848c007.6cce6","86891979.3d0658"]]},{"id":"5e6a457a.b0309c","type":"debug","z":"73d0d70c.8b2388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":240,"wires":[]},{"id":"60de35ef.c2d5fc","type":"ui_gauge","z":"73d0d70c.8b2388","name":"","group":"4ae0d1c6.dddd7","order":5,"width":6,"height":4,"gtype":"gage","title":"Temperature Guage","label":"C","format":"{{msg.payload.Temperature}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":180,"wires":[]},{"id":"8a8a257e.cc96d8","type":"ui_gauge","z":"73d0d70c.8b2388","name":"","group":"4ae0d1c6.dddd7","order":7,"width":6,"height":4,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.Humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":300,"wires":[]},{"id":"85349eb5.fd68e","type":"ui_gauge","z":"73d0d70c.8b2388","name":"","group":"4ae0d1c6.dddd7","order":9,"width":6,"height":4,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{msg.payload.Moist}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":360,"wires":[]},{"id":"ef737317.622d7","type":"function","z":"73d0d70c.8b2388","name":"Moisture","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["85349eb5.fd68e"]]},{"id":"1e250cb6.3b7743","type":"function","z":"73d0d70c.8b2388","name":"Humidity","func":"global.set(\"Humidity\",msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["8a8a257e.cc96d8"]]},{"id":"41bebb62.8fba14","type":"function","z":"73d0d70c.8b2388","name":"Temperature","func":"global.set(\"Temperature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":180,"wires":[["60de35ef.c2d5fc"]]},{"id":"f0ea7a41.ff5b68","type":"ibmiot out","z":"73d0d70c.8b2388","authentication":"apiKey","apiKey":"1252aef2.f31d21","outputType":"cmd","deviceId":"001","deviceType":"nodemcu001","eventCommandType":"home","format":"string","data":"data","qos":0,"name":"Send Device Commands","service":"registered","x":490,"y":820,"wires":[]},{"id":"a5dde8a0.ee7098","type":"ui_button","z":"73d0d70c.8b2388","name":"","group":"cf207c39.cfa5c","order":19,"width":4,"height":1,"passthru":false,"label":"Sprinklerr OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Turn OFF sprinkler","payloadType":"str","topic":"","x":240,"y":840,"wires":[["f0ea7a41.ff5b68"]]},{"id":"e59052f5.efca9","type":"ui_button","z":"73d0d70c.8b2388","name":"","group":"cf207c39.cfa5c","order":17,"width":4,"height":1,"passthru":false,"label":"Sprinkler ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Turn ON sprinkler","payloadType":"str","topic":"","x":250,"y":780,"wires":[["f0ea7a41.ff5b68"]]},{"id":"5fe5a99f.16ee98","type":"http request","z":"73d0d70c.8b2388","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Trivandrum,%20IN&appid=3ff4a8e5c0e538c5d167e5644c05c8ba&units=metric&mode=json","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":640,"wires":[["88513ee4.c4945"]]},{"id":"f3cb46a5.f748a8","type":"inject","z":"73d0d70c.8b2388","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":640,"wires":[["5fe5a99f.16ee98"]]},{"id":"de4ad614.62e888","type":"http in","z":"73d0d70c.8b2388","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":60,"wires":[["f5ad5200.fc0c2"]]},{"id":"86891979.3d0658","type":"function","z":"73d0d70c.8b2388","name":"Set Global","func":"global.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Humidity\",msg.payload.Humidity)\nglobal.set(\"Moist\",msg.payload.Moist)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":400,"wires":[[]]},{"id":"cfb55587.f03d08","type":"cloudant out","z":"73d0d70c.8b2388","name":"","cloudant":"","database":"smart_irrigation","service":"node-red-xtcan-2020--cloudant-1602264613121-58648","payonly":true,"operation":"insert","x":520,"y":120,"wires":[]},{"id":"b848c007.6cce6","type":"function","z":"73d0d70c.8b2388","name":"","func":"msg.payload= {\n    Temperature:msg.payload.Temperature,\n    Humidity:msg.payload.Humidity,\n    Moist:msg.payload.Moist\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["cfb55587.f03d08"]]},{"id":"f5ad5200.fc0c2","type":"function","z":"73d0d70c.8b2388","name":"","func":"msg.payload = {\n    \"Temperature\":global.get(\"Temperature\"),\n    \"Humidity\":global.get(\"Humidity\"),\n    \"Moist\":global.get(\"Moist\")\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":60,"wires":[["160eaba5.ab3a94"]]},{"id":"160eaba5.ab3a94","type":"http response","z":"73d0d70c.8b2388","name":"","statusCode":"","headers":{},"x":510,"y":60,"wires":[]},{"id":"a04c6fc2.a2036","type":"function","z":"73d0d70c.8b2388","name":"","func":"msg.payload= {\n    OWTemperature:msg.payload.main.temp,\n    OWHumidity:msg.payload.main.humidity\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":640,"wires":[["89a3413e.97533","48119201.584a4c","ef7c6a34.73abb8","59d018c4.742518","a5474152.a10b5"]]},{"id":"89a3413e.97533","type":"debug","z":"73d0d70c.8b2388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":620,"wires":[]},{"id":"88513ee4.c4945","type":"json","z":"73d0d70c.8b2388","name":"","property":"payload","action":"","pretty":false,"x":410,"y":640,"wires":[["a04c6fc2.a2036"]]},{"id":"a5474152.a10b5","type":"cloudant out","z":"73d0d70c.8b2388","name":"Open Weather Map Data","cloudant":"","database":"owmap_data","service":"node-red-xtcan-2020--cloudant-1602264613121-58648","payonly":true,"operation":"insert","x":790,"y":560,"wires":[]},{"id":"48119201.584a4c","type":"function","z":"73d0d70c.8b2388","name":"Set Global","func":"global.set(\"OWTemperature\",msg.payload.OWTemperature)\nglobal.set(\"OWHumidity\",msg.payload.OWHumidity)\n\nreturn msg;\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":660,"wires":[[]]},{"id":"7b67c462.68c20c","type":"http response","z":"73d0d70c.8b2388","name":"","statusCode":"","headers":{},"x":570,"y":480,"wires":[]},{"id":"7dedf9f4.334608","type":"function","z":"73d0d70c.8b2388","name":"Set Global","func":"msg.payload = {\n    \"OWTemperature\":global.get(\"OWTemperature\"),\n    \"OWHumidity\":global.get(\"OWHumidity\")\n}   \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":480,"wires":[["7b67c462.68c20c"]]},{"id":"71edf146.de21f","type":"http in","z":"73d0d70c.8b2388","name":"","url":"/OpenWeatherMapData","method":"get","upload":false,"swaggerDoc":"","x":140,"y":480,"wires":[["7dedf9f4.334608"]]},{"id":"1246c86.793f038","type":"ui_chart","z":"73d0d70c.8b2388","name":"","group":"100f43a.45b74bc","order":0,"width":0,"height":0,"label":"Temperature in Celcius","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ea7610","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":960,"y":700,"wires":[[]]},{"id":"ef7c6a34.73abb8","type":"function","z":"73d0d70c.8b2388","name":"OWMap Temp","func":"msg.payload = msg.payload.OWTemperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":700,"wires":[["1246c86.793f038"]]},{"id":"59d018c4.742518","type":"function","z":"73d0d70c.8b2388","name":"OWMap Humidity","func":"msg.payload = msg.payload.OWHumidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":740,"wires":[["43b8c2f3.d79b4c"]]},{"id":"43b8c2f3.d79b4c","type":"ui_chart","z":"73d0d70c.8b2388","name":"","group":"100f43a.45b74bc","order":1,"width":0,"height":0,"label":"Humidity in Percentage","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":740,"wires":[[]]},{"id":"cc65f9fa.004b48","type":"http in","z":"73d0d70c.8b2388","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":100,"y":940,"wires":[["c00e8214.70c34"]]},{"id":"56d7cd06.a000b4","type":"http response","z":"73d0d70c.8b2388","name":"","statusCode":"","headers":{},"x":450,"y":940,"wires":[]},{"id":"c00e8214.70c34","type":"function","z":"73d0d70c.8b2388","name":"command","func":"msg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":940,"wires":[["56d7cd06.a000b4","f0ea7a41.ff5b68","862c4f1d.698a8","bdc366e.e763398"]]},{"id":"862c4f1d.698a8","type":"debug","z":"73d0d70c.8b2388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":880,"wires":[]},{"id":"bdc366e.e763398","type":"ui_text","z":"73d0d70c.8b2388","group":"cf207c39.cfa5c","order":2,"width":0,"height":0,"name":"","label":"Alert!!  ","format":"{{msg.payload}}","layout":"row-left","x":510,"y":1000,"wires":[]},{"id":"1252aef2.f31d21","type":"ibmiot","z":"","name":"newAPI","keepalive":"60","serverName":"f6n01p.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4ae0d1c6.dddd7","type":"ui_group","z":"","name":"Sensor Data","tab":"b0793019.e8a07","order":2,"disp":true,"width":"18","collapse":true},{"id":"cf207c39.cfa5c","type":"ui_group","z":"","name":"Sprinker Alert","tab":"b0793019.e8a07","order":3,"disp":true,"width":"12","collapse":false},{"id":"100f43a.45b74bc","type":"ui_group","z":"","name":"Real Time Weather Forecast","tab":"b0793019.e8a07","order":2,"disp":true,"width":"12","collapse":true},{"id":"b0793019.e8a07","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","order":3,"disabled":false,"hidden":false}]